@import url('showreel.css');


/* 
* RESETS 
*/

/* BTNS RESET */
html,
input,
select,
textarea,
button,
a {
    -webkit-tap-highlight-color: transparent !important;
    /* for removing the highlight */
}

a:focus,
button:focus {
    outline: none;
    /*border: 0;*/
}

/* Filter Buttons */
.fwd-selected {
    color: var(--neutral--900);
    background-color: var(--neutral--50-501);
}

.fwd-filters-alt-wrapper .fwd-selected {
    color: var(--neutral--50-501) !important;
    background-color: var(--neutral--900) !important;
}

/* Element Selection */
::-moz-selection {
    /* Code for Firefox */
    color: var(--neutral--900);
    background: var(--lime);
}

::selection  {
    color: var(--neutral--900);
    background: var(--lime);
    background-clip: unset;
    background-image: none;
    -webkit-text-fill-color: var(--neutral--900);
}

::-moz-selection {
    color: var(--neutral--900);
    background: var(--lime);
    background-clip: unset;
    background-image: none;
    -webkit-text-fill-color: var(--neutral--900);
}

/* Post category filter - hide empty list filter btn */
.fwd-post-category-filter .fwd-filters-wrapper > .w-dyn-item:nth-child(2) {
    display: none;
}

/* Tooltips */
.fwd-tooltip::after {
    content: '';
    position: absolute;
    left: 45%;
    bottom: -4px;
    margin-left: auto;
    margin-right: auto;
    width: 8px;
    height: 8px;
    background: inherit;
    transform: rotate(45deg);
}

.fwd-tooltip.show {
    opacity: 1 !important;
}

/*
* Settings
*/

/*a.locked {
  opacity: 0.25;
}

.slider-main_link.locked {
  opacity: 0.5;
}*/

.fwd-visibility-hidden {
    margin-top: 0;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.overflow-hidden,
.hide-page {
    overflow: hidden;
}

.hide-page::before {
    content: "";
    background: #0f1010;
    position: absolute;
    z-index: 9999999999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
}

.show-page::before {
    background: transparent;
    z-index: -1;
    transition: all 1s;
}

.fwd-drop-shadow::before {
    content: '';
    position: absolute;
    z-index: -1;
    background: black;
    filter: blur(14px);
    opacity: .75;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
}

.fwd-cursor-container,
.fwd-button-gradient {
    pointer-events: none;
}

/* LENIS SCROLL */
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* TAB ELEMENT */
.fs-tabs_dynamic-tab-link.fwd-industries-tab {
    padding: 0;
}

.fwd-industries-tab.w-tab-link::after {
    content: "";
    z-index: 5;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            var(--neutral--100) 96%);
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}

/*.fwd-service-subpoint .fwd-button-arrow {
  transition: all 1 ease;
}

.fwd-service-subpoint:hover .fwd-button-arrow path {
  stroke: var(--lime);
}*/

.fwd-tab-gradient-full {
    transition: opacity 0.8s ease;
    opacity: 0;
}

.fwd-services-dropdown-toggle.w--open .fwd-tab-gradient-full {
    opacity: 0.8;
}

.fwd-services-dropdown-toggle.w--open .fwd-gradient-top-bar-0-alt {
    opacity: 1;
}

.fwd-services-dropdown:hover .fwd-gradient-top-bar-0-alt {
    opacity: 0;
}

.item_accordion_approach:last-child {
    border-bottom: 0;
}

.w-dropdown {
    width: 100% !important;
}

.fwd-industries-tab {
    border-bottom: 1px solid var(--neutral--500) !important;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .fwd-industries-tab {
        padding: 12px 0;
    }

    .fwd-industries-tab div {
        font-size: 18px;
    }
}

@media only screen and (min-width: 991px) {
    .fwd-industries-tab.w--current {
        border-bottom-color: var(--neutral--900) !important;
    }
}

@media only screen and (max-width: 991px) {
    .fwd-services-dropdown-list.w-dropdown-list {
        flex-flow: column;
    }

    .fwd-industries-tab.w-tab-link:first-child::before {
        content: "";
        z-index: 5;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0),
                var(--neutral--100) 96%);
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
    }

    .fwd-industries-tab.w--current {
        border-top: unset;
    }
}

.collection-item:hover .fwd-tab-gradient,
.collection-item:hover .fwd-tab-gradient-2 {
    opacity: 1;
}

/* .w-dropdown-list {
    display: flex;
    opacity: 0;
    height: 0;
    background-color: transparent;
    background: none;
}

.w-dropdown-list>div {
    transition: all 0.4s ease;
    display: flex;
    opacity: 0;
    margin-top: -450px;
}

.w-dropdown-list>div.fwd-service-subpoint-wrapper {
    margin-top: -580px;
} */

@media only screen and (max-width: 991px) {
    .dropdown_list_accordion_approach {
        flex-flow: column !important;
    }
}

@media only screen and (max-width: 767px) {
    .fwd-team-dropdown-list.w-dropdown-list {
        flex-flow: column;
    }
}

/* .w-dropdown-list.w--open {
    opacity: 1;
    height: 100%;
    background-color: none;
    background: none;
    padding-bottom: 24px;
}

.w-dropdown-list.w--open>div {
    margin-top: 0px;
    height: 100%;
    opacity: 1;
} */

.w-dropdown-toggle.w--open .fwd-button.fwd-icon-only {
    transform: rotate(-90deg) !important;
}

/* CURSOR FOLLOWER */
.fwd-cursor .fwd-cursor-inner {
    width: 0;
    height: 0;
    max-width: 0;
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.fwd-cursor.hovering .fwd-cursor-inner {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.fwd-cursor .fwd-cursor-inner img,
.fwd-cursor .fwd-cursor-inner div {
    transform: rotate(-75deg);
}

.fwd-cursor.hovering .fwd-cursor-inner img {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
}

.fwd-cursor.hovering .fwd-cursor-inner div {
    transform: rotate(0deg);
}

.fwd-cursor-text.smaller-text {
    font-size: 16px;
    /* default size at 18px */
}

@media only screen and (max-width: 991px) {
    .fwd-cursor-container {
        display: none;
        opacity: 0;
    }
}

/* LOOP SLIDER */
.slide-stripe-c {
    overflow: hidden;
    position: relative;
}

.slide-stripe-c .ticker-wrapper {
    display: flex;
    flex-flow: row;
}

.slide-stripe-c .ticker-wrapper>span {
    position: relative;
    min-width: 132px;
}

.slide-stripe-c span {
    white-space: nowrap;
}

.fwd-section.logos {
    pointer-events: none;
}

/* NAV */
/*
@media only screen and (max-width: 767px) {
*/
@media only screen and (max-width: 991px) {
    .fwd-navbar-center-wrapper {
        display: none;
    }

    .fwd-navbar-right-wrapper>.fwd-button {
        display: none;
    }

    .fwd-navbar-right-wrapper .fwd-menu-hamburger-wapper {
        display: block;
    }

    .fwd-menu-text-mobile:hover {
        background-color: unset;
    }

    .fwd-navbar.is-open {
        min-height: 100svh;
        padding-bottom: 40px;
        overflow-y: auto;
        background-color: #f7f8f8;
        background-image: unset;
    }

    .fwd-navbar.is-open .fwd-logo-black {
        display: block;
        opacity: 1;
    }

    .fwd-navbar.is-open .fwd-logo-white {
        display: none;
        opacity: 0;
    }

    .fwd-navbar.is-open .fwd-navbar-mobile {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%;
        flex: 1;
        position: relative;
    }

    .fwd-menu-btn-c .hamburger-menu-bar {
        transition: all 0.3s;
        transform-style: preserve-3d;
    }

    .fwd-navbar .hamburger-menu-bar.top {
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
    }

    .fwd-navbar.is-open .hamburger-menu-bar.top {
        background-color: #0f1010;
        transform: translate3d(0px, 5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(135deg) skew(0deg, 0deg) !important;
    }

    .fwd-navbar .hamburger-menu-bar.bottom {
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }

    .fwd-navbar.is-open .hamburger-menu-bar.bottom {
        background-color: #0f1010;
        transform: translate3d(0px, -2px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    }
}

@media screen and (max-width: 374px) {
    .fwd-navbar-right-wrapper-2 .fwd-button-arrow {
        display: none;
    }
}

/*
* FORM 
*/

form label.error {
    color: #ff5555;
    font-size: 14px;
    font-weight: normal;
    top: calc(100% + 4px);
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease;
}

form label.error.show {
    opacity: 1;
}

.fwd-landing-modal-form + div,
.w-form-fail {
    margin-bottom: 20px;
}

/* ################################################################################## */
/* 
* REVEALS 
*/

.fwd-overline,
h2 {
    overflow: hidden;
}

.h1,
.word,
.line {
    position: relative;
    overflow: hidden;
    line-height: inherit;
}

.fwd-list-wrapper .line,
.fwd-list-wrapper .word,
.fwd-list-wrapper h2 {
    overflow: initial;
    line-height: initial;
}

.word {
    line-height: initial;
}

.fwd-hero .fwd-container::before,
.fwd-hero .fwd-container::after {
    display: none;
}

.fwd-hero-message-gradient .word,
.fwd-heading-gradient .word {
    background-image: linear-gradient(to bottom,
            var(--neutral--400),
            var(--neutral--700));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* Images Reveal */
.fwd-image-wrapper {
    visibility: hidden;
    position: relative;
    overflow: hidden;
}

.fwd-image-wrapper img:not(.fwd-service-block-img) {
    min-width: 100%;
}

.fwd-collection-grid-image-wrapper {
    aspect-ratio: 16 / 9;
}

/* EDITED BY ED */
.fwd-tab-padding-div {
    z-index: 0;
    width: 100%;
    padding-top: 57%;
    position: relative;
    top: 0;
    left: 0;
}

.fwd-tab-pane {
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 1;
    left: 0;
}


/* ################################################################################## */
/* 
* BLOG 
*/
/*
Article quotes
*/
.fwd-article-content-container .w-richtext {
    font-size: 20px;
    line-height: 28px;
}

.article-quote {
    background: linear-gradient(180deg, #CF0 0%, rgba(255, 255, 255, 0.00) 88%);
    padding: 16px 24px;
    margin: 0;
    display: flex;
    flex-flow: column;
    gap: 24px;
    font-size: 24px;
    letter-spacing: 0.24px;
    line-height: 32px;
}

.article-quote-author {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.12px;
    color: #717878;
}

@media only screen and (max-width: 380px) {
    .article-quote {
        font-size: 20px;
        line-height: 28px;
    }
}

/* ################################################################################## */
/* 
* WEBFLOW LANDING 
*/
.fwd-landing-hero-message-gradient .line {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #626262 6.23%, #2b2b2b 94.26%);
}

.fwd-landing-hero-message-gradient .word {
    color: var(--neutral--700);
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #626262 6.23%, #2b2b2b 94.26%);
    -webkit-background-clip: text;
    background-clip: text;
}

@media only screen and (max-width: 1300px) {
    .fwd-landing-form-column.fwd-col-left {
        gap: 70px !important;
    }

    .fwd-landing-form-column.fwd-col-left .fwd-identity-block-container {
        align-self: center !important;
    }
}

@media only screen and (max-width: 991px) {

    /* workaround - adds 24px space to rightmost side of slide container in smaller screens */
    .fwd-landing-testimonies-container:after {
        content: '';
        margin-left: -1px;
        min-width: 1px;
        height: 100px;
        display: inline-block;
    }
}


/* ################################################################################## */
/* 
* SERVICE LANDING 
*/
@media only screen and (min-width: 355px) and (max-width: 446px) {
    .fwd-deliverables-wrapper .fwd-deliverables-checkmark-container {
        width: 48%;
        align-self: flex-start;
        padding: 10px 0;
    }

    .fwd-deliverables-wrapper .fwd-deliverables-checkmark-container:nth-child(2) {
        order: 8;
    }

    .fwd-deliverables-wrapper .fwd-deliverables-checkmark-container:nth-child(3) {
        order: 7;
    }

    .fwd-check-mark-circle {
        align-self: flex-start;
    }
    .fwd-check-mark-circle.fwd-20px {
        min-width: 20px;
    }
}

@media only screen and (max-width: 354px) {
    .fwd-deliverables-wrapper {
        flex-flow: column !important;
        align-self: flex-start !important;
    }

    .fwd-deliverables-wrapper .fwd-deliverables-checkmark-container {
        padding-left: 0 !important;
    }

    .fwd-check-mark-circle.fwd-20px {
        min-width: 20px;
    }
}

body.contact-modal-open {
    overflow: hidden;
}

.fwd-modal-close-btn {
    display: none;
}

body.contact-modal-open .fwd-modal-close-btn {
    opacity: .55;
    display: flex;
}

body.contact-modal-open .fwd-modal-close-btn:hover {
    opacity: 1;
}

body.contact-modal-open .modal-container  {
    background-color: rgba(0, 0, 0, .4);
    pointer-events: visible;
    opacity: 1;
    z-index: 999;
}

/* body.contact-modal-open .modal-container .fwd-container *:not(.fwd-modal-close-btn) {
    opacity: 1 !important;
    transform: initial !important;
} */

@media screen and (max-width: 480px) {
    .modal-container .fwd-col-img {
        max-height: unset !important;
        min-height: unset;
        height: 210px !important;
    }
}

@media screen and (max-width: 380px) {
    .fwd-landing-form-column.fwd-col-right {
        padding-top: 3rem;
    }

    .modal-container .fwd-col-img {
        display: none;
    }
    
    .fwd-form-send-btn-wrapper,
    .fwd-form-send-btn-wrapper input {
        width: 100% !important;
    }
}

.fwd-svg-fit svg {
    width: 100% !important;
    height: auto !important;
}


.fwd-beyond-section .fwd-hero-message-gradient::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    background-image: unset;
    color: var(--lime);
    background-clip: unset;
    -webkit-text-fill-color: var(--lime);
    white-space: nowrap;
    transition: all .45s ease;
    letter-spacing: -0.01em;
    z-index: 999;
}

.fwd-beyond-section .highlight-text .fwd-hero-message-gradient::before {
    opacity: 1;
}

/* COUNTER NUMBER ROTATION REVEAL */
.fwd-stats-collection-item .span-clone {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    left: -.5ch;
}

.fwd-stats-collection-item:nth-child(3) .span-clone {
    left: -.9ch;
}

.fwd-stats-collection-item:nth-child(2) span {
    width: 3ch;
    display: inline-block;
}



/*
    Thank You Page
*/

.fwd-landing-hero-thank-you-bg-glass {
    background: linear-gradient(206deg, rgba(251, 253, 255, 0.00) -39.21%, rgba(240, 247, 251, 0.21) 33.13%, rgba(217,233, 242, 0.3) 83.57%);
}

.fwd-landing-hero-thank-you {
    background: radial-gradient(137.88% 154.75% at 50% 128.9%, #8CA3AF 0%, #FFF 100%);
}



